@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Oswald", sans-serif;
  color: #383838;
}

hr {
  border: 5px;
  background-color: #bcbbbb;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 2.5% 5%;%;
}

h1 {
  font-size: 60px;
  line-height: 48px;
  display: inline;
  text-transform: uppercase; 
  font-family: "Oswald", bold;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
  border-bottom: 2px solid #333;
}

h3 {
  font-family: "bitter";
  font-style: italic;
  font-size: 20px;
  line-height: 22px;
}

h4 {
  font-family: "bitter";
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-family: "Roboto";
  font-style: italic;
  font-size: 14px;
  color: #A0A0A0;
  line-height: 18px;
  float: left;
  padding-right: 10px; //TODO: Check, there must be a better way;
}

.location-text {
  font-family: "Roboto";
  font-style: italic;
  font-size: 14px;
  color: ##084C8D;
  line-height: 18px;
  float: right;

}
.degree-major {
  font-family: "Roboto";
  font-style: italic;
  font-size: 14px;
  color: #393939;
  line-height: 16px;
}

p {
  font-family: "Roboto";
  font-size: 14px;
  color: #393939;
  line-height: 21px;
}

a {
  font-family: "Roboto";
  color: #6600FF; 
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;  
}

.welcome-message {
  font-family: "bitter";
  font-style: italic;
  font-size: 18px;
  color: #A0A0A0;
  line-height: 28px;
}

#skills-h3 {
  color: #F3843E;
  display: none;
}

.red {
  background-color: #A30013; 
}

.red-text {
  color: #A30013;
}

.gray-text {
  font-weight: bold;
  color: #6E6E6E;
}

.gray {
  background-color: #D0CABF;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #6E6E6E;
}

/* TODO: Replace with image later */
#header {
  background-color: #FFF2E7;
}
/*.col-md-6 { 
  padding-left: 50px;
  padding-right: 10px;
}
/*Padding doesn't work*/

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
  align-text: left; 
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

.modal-body {
  font-family: "Roboto";
}




/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#map-div {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
